{% extends 'base.html.twig' %}

{% block title %}__Liste des stagiaires__
{% endblock %}

{% block body %}

	<ul>
		{% for liste in listes %}
			<li>
				n°{{loop.index ~ ' / ' ~ loop.length}}
				- id :
				{{liste.id}}<br>
				<span class="civilite">{{liste.civilite ~ '  ' ~ liste.nom ~ '  ' ~ liste.prenom}}</span><br>

				<span class="champs">- Adresse :</span>
				<span>{{liste.adresse}}</span><br>


				<span class="champs">- Téléphone :</span>
				<span>{{liste.telephone}}</span><br>


				<span class="champs">- Mail :</span>
				<span>{{liste.email}}</span><br>


				<h6>{{liste.formation}}</h6>
				<p class='annee'>- Année :
					{% if not liste.annee %}
						<h7>
							- Non communiqué -
						</h7>
					{% else %}
						<h7-2>{{liste.annee}}</h7-2>
					{% endif %}
				</p>
			</li>
			<hr>
		{% endfor %}
	</ul>


{% endblock %}
